html
    head
        title= title
        body
            div jade문법
            h1 H1 Hellow World
            ul
                -for(var i=0;i<5;i++)
                    li coding
            div= time